

.background-image {
    width: 100%;
    height: 100%;
    
}

.image {
    width: 100%;
    height: 80vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 84px;
    bottom: 0px;
}

.content {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 84px;
    bottom: 0px;
}

.page {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family-regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.action-button {
    margin-top: 1.1rem;
    border-radius: 15px;
    background: #07236B;
    padding: 0.4rem 1rem 0.4rem 1rem;
    cursor: pointer;


    color: #FFF;
    text-align: center;
    font-family: var(--font-family-regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.87px;
    position: relative;
    animation: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}