<div class="section-layout" fxLayout="column">
    <div class="section">
        <div class="background-image">
            <div class="image">
                <img loading="lazy" src="/assets/images/bg/bg7.jpg" alt="">
            </div>
            <div class="overlay"></div>
        </div>
    </div>

    

    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
        <div class="content " fxLayout="column" fxLayoutAlign="center center">
            <div class="page">{{page}}</div>
            <div *ngIf="!contact" class="action-button" (click)="route('contact')">Contact Us</div>
            <div *ngIf="contact" class="action-button" (click)="route('home')">Home Page</div>
        </div>
    </div>
</div>