.section-layout {
    margin-top: 84px;
}

.card-section {
    margin-bottom: 1rem;
}

.heading {
    margin-top: 40px;
    margin-bottom: 20px;
}

.heading p {
    font-family: var(--font-family-regular);
    font-size: var(--font-size2);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.9px;
}