<div class="section-layout">
    <div class="section" fxLayout="column" fxFlex="100%">
      <div class="hero">
        <app-header page="Companies"></app-header>
      </div>
  
      <div
        class="card"
        fxLayout="row"
        fxFlex="100%"
        fxLayoutAlign="center center"
      >
        <div
          class="card-section"
          fxLayout="row wrap"
          fxFlex="80%"
          fxFlex.sm="90%"
          fxFlex.xs="95%"
          fxLayoutGap="0.5rem"
        >
          <div class="unit item" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-two-section-card
              title="Nagode Industries Limited"
                detail="Nagode Industries Limited is one of the leading B2B chemical and allied 
                services organizations in Nigeria. Our businesses comprise of imports, warehousing & 
                distribution. With over 6,000 containers of chemical raw materials sold annually and 
                an impressive product portfolio of over 400 chemicals, Nagode Industries has grown to 
                become the Market Leader for chemical raw material supply in Nigeria. Being the flagship 
                company for Afriglobal group, Nagode Industries has served the Nigerian Chemical needs 
                for almost 30 years. Based in Lagos, Nagode Industries have Offices in UAE (Head-office), 
                Nigeria, India, China, Egypt, Ethopia and South Korea. Regional offices in Nigeria cover 
                key centers in Nigeria such as Abuja, Kano, Aba and Onitsha with direct delivery capacity 
                to over 40 major towns pan Nigeria and other West African countries"
              image="/assets/images/logo1.png"
              [button]=true
              [inverse]=false
              [others]=true
              [logo]=true
            >
            </app-two-section-card>
          </div>

          <div class="unit item" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-two-section-card
              title="Afriglobal Commodities"
                detail="Afriglobal Commodities- Afriglobal Commodities (AGC) is a premier 
                    Africa focused trading and distribution organization. Incorporated in 
                    Nigeria in 1988, AGC is now headquartered in Dubai. Our distribution 
                    operations cover Africa and Middle East. With transaction volumes 
                    exceeding 4000 TEU’s per annum, AGC is also one of the fastest growing 
                    trading and distribution operation in the region."
              image="/assets/images/logo2.png"
              [button]=true
              [inverse]=false
              [others]=true
              [logo]=true
            >
            </app-two-section-card>
          </div>

          <div class="unit item" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-two-section-card
              title="Afriglobal Logistics Limited"
                detail="Afriglobal Logistics Limited is an integrated end-to-end logistics 
                        provider with over 20 years’ experience operating in Nigeria. Her 
                        business comprises of Ocean Freight, Air Freight, Trucking, Haulage, 
                        Warehousing and Distribution.
                        With an excellent track record of handling over 4,500 containers 
                        per year with clearing timelines of 10 Calendars days or less, 
                        Afriglobal Logistics has emerged a force to reckon with in the 
                        Supply Chain Industry.  We have strong relationships with all majors 
                        shipping lines, Shipping terminals, regulatory agencies – 
                        (NAFDAC, SON, Customs, NDLEA, Nigerian Police, NPA, Plant 
                        Quarantine) and Banks.
                
                "
              image="/assets/images/logo3.png"
              [button]=true
              [inverse]=false
              [others]=true
              [logo]=true
            >
            </app-two-section-card>
          </div>


          <div class="unit item" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-two-section-card
              title="Afriglobal Medicare Limited"
                detail="At Afriglobal Medicare Limited (AML) our vision is to create a medical 
                        diagnostics facility that puts the ‘Patients First’. With this goal, we aim to 
                        create a new benchmark for diagnostics services in Nigeria. With over 25+ years’
                        experience in Nigeria/West Africa, we have one of the most extensive 
                        distribution networks across the region with about 500+ partner bases.

                        We are committed to improve healthcare in Africa through quality & affordable 
                        diagnostics. In achieving this goal we are driven by our values & a passion to 
                        ensure our clients and partners get the best service. Our core services are 
                        Radiology, Pathology and Cardiology testing. We also offer affordable wellness 
                        packages for every member of the society. 
                        Quarantine) and Banks."
              image="/assets/images/logo4.png"
              [button]=true
              [inverse]=false
              [others]=true
              [logo]=true
            >
            </app-two-section-card>
          </div>


          <div class="unit item" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-two-section-card
              title="Advance Medisystems Limited"
                detail="Advance Medisystems has fast become one of the best medical sales & 
                service operation in Nigeria & West Africa. We have a team of highly trained,
                 passionate and customer centric staff who pride in selling high quality 
                 equipment, reagents and consumables to customers at the best prices 
                 available in the market.

                We are passionate about providing the very best to our customers that we 
                render after sales technical services and high value trainings on 
                application and usage at no extra cost.
                
                We are strategically positioned in the market with key partnerships with 
                reputable Manufacturers like Abbott, Erba and Elga to mention few."
              image="/assets/images/logo5.png"
              [button]=true
              [inverse]=false
              [others]=true
              [logo]=true
            >
            </app-two-section-card>
          </div>
  
        </div>
      </div>
  
  
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  