<div class="section-layout" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <div class="section" fxLayout="column" fxFlex="100%" >
        
        <div class="hero">
            <app-header page="About Us"></app-header>
        </div>


        <div class="who-we-are" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="90%">
                <app-about-section-card title="Who we are"
                                        image="/assets/images/img/img4.png"
                                        detail="Afriglobal Group is a conglomerate with business interests 
                                        in the chemicals distribution, Logistics and healthcare industries. 
                                        With an impressing turnover of over USD200m per annum, it is one of 
                                        the fastest growing business concerns in Nigeria."
                                        [inverse]=true
                                        [button]=false>

                </app-about-section-card>
            </div>
        </div>


        <div class="mission-vision" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="90%" fxLayout="column" fxLayoutGap="2%">
              <div class="cards" fxLayout="row wrap" fxFlex="100%" fxLayoutGap="2%" fxLayoutAlign="center start">
                <div fxFlex="49%">
                    <app-mission-card title="Vision"
                                detail="An inspirational role model African institution that is at the 
                                        forefront of emerging opportunities in healthcare, logistics and 
                                        chemicals value chain.">
                                    </app-mission-card>
                </div>
                
                

                <div fxFlex="49%">
                    <app-mission-card title="Mission"
                                detail="Inspiring Africa.">
                
                </app-mission-card>
                </div>


              </div>

              <div class="card">
                <app-mission-card title="Vision"
                                [items]= values>
                                    </app-mission-card>
              </div>

            </div>
        </div>


        <div class="history" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="90%">
                <app-about-section-card title="Brief history"
                                        image="/assets/images/img/img4.png"
                                        detail="The flagship company – Nagode Industries, which started 
                                                as the brainchild of a visionary man Mr B. B. Garg, has 
                                                since grown into a diversified entity with about five dynamic 
                                                and fast growing competent organizations. Each organization has 
                                                developed into the market leader or one of the leading players 
                                                in its own field.
                                                Incorporated in 1988, Afriglobal group has over time, expanded 
                                                operations from Lagos to branches throughout Nigeria in Abuja, 
                                                Kano, Aba and Onitsha, to effectively service its customers.
                                                Currently, beyond Nigeria, we have operations in Cameroun, Ghana, 
                                                Djibouti, Ethiopia, Tanzania, Egypt. We also have offices India, 
                                                China and South Korea. However its international outlook notwithstanding, 
                                                the Afriglobal Group of companies has remained true to its African Origin."
                                        [inverse]=false
                                        [button]=false>

                </app-about-section-card>
            </div>
        </div>

        



    </div>
</div>