<div class="section-layout" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <div class="section" fxLayout="column" fxFlex="100%" >
        
        <div class="hero">
            <app-header page="About Us"></app-header>
        </div>


        <div class="who-we-are item" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="85%">
                <app-about-section-card title="Who we are"
                                        image="/assets/images/img/img4.png"
                                        detail="Afriglobal Group is a conglomerate with business interests 
                                        in the chemicals distribution, Logistics and healthcare industries. 
                                        With an impressing turnover of over USD200m per annum, it is one of 
                                        the fastest growing business concerns in Nigeria."
                                        [inverse]=true
                                        [button]=false
                                        [video]=true>

                </app-about-section-card>
            </div>
        </div>


        <div class="mission-vision item" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="85%" fxLayout="column" fxLayoutGap="2%">
              <div class="cards" fxLayout="row wrap" fxFlex="100%" fxLayoutGap="2%" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
                <div class="vision" fxFlex="49%" fxFlex.sm="49%" fxFlex.xs="100%">
                    <app-mission-card title="Vision"
                                detail="An inspirational role model African institution that is at the 
                                        forefront of emerging opportunities in healthcare, logistics and 
                                        chemicals value chain.">
                                    </app-mission-card>
                </div>

                <div fxFlex="49%" fxFlex.sm="49%" fxFlex.xs="100%">
                    <app-mission-card title="Mission"
                                detail="Inspiring Africa.">
                
                </app-mission-card>
                </div>


              </div>

              <div class="card">
                <app-mission-card title="Values"
                                [items]= values>
                                    </app-mission-card>
              </div>

            </div>
        </div>


        <div class="history item" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="85%">
                <app-about-section-card title="Brief history"
                                        image="/assets/images/img/img4.png"
                                        detail="The flagship company – Nagode Industries, which started 
                                                as the brainchild of a visionary man Mr B. B. Garg, has 
                                                since grown into a diversified entity with about five dynamic 
                                                and fast growing competent organizations. Each organization has 
                                                developed into the market leader or one of the leading players 
                                                in its own field. 

                                                Incorporated in 1988, Afriglobal group has over time, expanded 
                                                operations from Lagos to branches throughout Nigeria in Abuja, 
                                                Kano, Aba and Onitsha, to effectively service its customers.
                                                Currently, beyond Nigeria, we have operations in Cameroun, Ghana, 
                                                Djibouti, Ethiopia, Tanzania, Egypt. We also have offices India, 
                                                China and South Korea. However its international outlook notwithstanding, 
                                                the Afriglobal Group of companies has remained true to its African Origin."
                                        [inverse]=false
                                        [button]=false>

                </app-about-section-card>
            </div>
        </div>


        <div class="business-approach item" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="85%">
                <app-about-section-card title="Business Approach"
                                        image="/assets/images/img/img4.png"
                                        detail="Afriglobal group businesses are focused on 
                                        securing a robust selection of products for our clients. 
                                        We do this by supporting our customers through thoroughly 
                                        understanding their needs and desires, and providing 
                                        tailored solutions based on their needs."
                                        [inverse]=true
                                        [button]=false
                                        [items]=approach>

                </app-about-section-card>
            </div>
        </div>

        <div class="team" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="70%" fxFlex.sm="90%" fxFlex.xs="90%">
                <div class="title">
                    Our Team
                </div>

                <div fxLayout="column">
                    <app-team name="Mr Maneesh Garg"
                                image="/assets/images/img/team/img1.png"
                                role="GROUP CHIEF EXECUTIVE OFFICER"
                                position="EXECUTIVE DIRECTOR"
                                about="Mr Maneesh Garg is a serial entrepreneur who has successfully 
                                        transformed the Family business, Afriglobal Group from a trading 
                                        and distribution company of raw chemicals and soft commodities to 
                                        include other industries covering Healthcare, supply chain management 
                                        and integrated logistics. He has a first degree in Politics, Philosophy 
                                        and Economics at the University of Oxford, UK and a Master’s Degree in 
                                        Economics at the North-Western University, US.">
                                
                    </app-team>

                    <app-team name="Mr. Sandeep Kapoor"
                                image="/assets/images/img/team/img2.png"
                                role="GROUP EXECUTIVE DIRECTOR"
                                position="EXECUTIVE DIRECTOR"
                                about="Mr Sandeep Kapoor has over 29 years’ experience in 
                                marketing and sales across consumer, industrial & services
                                 businesses, including 5 years in East and West Africa. He 
                                 has a B. Tech in Mechanical Engineering from IIT Delhi & MBA 
                                 from IIM Ahmadabad. Currently, he serves as the Group Executive
                                 Director.">
                     </app-team>

                     <app-team name="Mr. Debasis Mitra Roy"
                                image="/assets/images/img/team/img3.jpg"
                                role=""
                                position="NON EXECUTIVE DIRECTOR"
                                about="Mr. Roy is an accomplished leader with powerful blend of 
                                professional background (CPA, CMA, ACMA & DBF), over 30 years of 
                                Global experience in Business& Finance Management and consistent 
                                history of achievements and recognition as ”Excellent Performer”. 
                                He has Worked & travelled across countries (India, UK, Europe, USA 
                                and Africa) with globally renowned groups including Tata, Reliance, 
                                GAIL & Dangote in diverse verticals spanning manufacturing and 
                                service sectors ( Engineering, Pharmaceuticals Cement, Oil & Gas, 
                                Telecom, Construction). He is currently Group Executive Director 
                                (earlier CFO & Business Head-Shared Services) of a $300 million 
                                regional conglomerate operating in West Africa.">
                     </app-team>


                     <app-team name="David Edwards"
                                image="/assets/images/img/team/img5.png"
                                role=""
                                position="NON EXECUTIVE DIRECTOR"
                                about="An experienced International Finance Director with proven success in 
                                Managing Strategic and Operational Activities, Corporate Restructuring and 
                                Multi-site General Management in a high growth environment. Highly motivated 
                                and enthusiastic, an excellent communicator at all levels, takes responsibility 
                                for issues and motivates the team to get the job done to time and budget.  
                                Confident and articulate with excellent interpersonal skills, leads from the 
                                front, delegates where appropriate, brings a ‘can do, will do’ attitude to 
                                every endeavour: interested in using skills acquired to support other 
                                organisations.">
                     </app-team>

                     <app-team name="Hisham Moussa"
                                image="/assets/images/img/team/img4.jpg"
                                role=""
                                position="NON EXECUTIVE DIRECTOR"
                                about="Mr. Hisham is a well-rounded Private Equity professional with expertise 
                                    across origination, execution, post-acquisition monitoring, turnaround 
                                    management and exit realization. Working knowledge across a wide range of 
                                    industries with a deeper operating know-how into healthcare verticals. He is 
                                    the Chief Executive Officer of The Sovereign Fund of Egypt which was 
                                    established in 2018 to attract private investments to Egypt and promote 
                                    and co-invest in state-owned assets to maximize their value and efficiency 
                                    for the Egyptian economy. ">
                     </app-team> 
                     

                    
                </div>
            </div>
        </div>

        
        <div class="footer item">
            <app-footer></app-footer>
        </div>


    </div>
</div>



    
