<div class="section-layout">
    <div class="section">
        <div class="hero">
            <app-header page="Careers"></app-header>
        </div>

        <div class="heading" fxLayout="column" fxLayoutAlign="center center">
            <div class="sub-title">Come join us</div>
            <div class="title">
                Career Openings
            </div>
            <div class="heading-detail" fxLayoutAlign="center start">
                We’re always looking for creative, talented self-starters to join the Afriglobal. 
                Check out our open roles below and fill out an application.
            </div>
        </div>

        <div class="roles" fxLayout="column" fxLayoutAlign="center start">
            <div class="empty-roles">
                <div class="image">
                    <img src="/assets/images/img/career.svg" alt="">
                </div>
            </div>

            <div class="message" fxLayoutAlign="center center" fxFlex="45%">
                Sorry!!! there are  no Openings now you can <br> check back someother time.
            </div>
        </div>

        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
