<div class="awards">
    <app-two-section-card title="2019" 
                            detail="Afriglobal Group ( Formerly Nagode group) a conglomerate 
                                with business interests in the chemicals distribution, 
                                Logistics and healthcare industries has been identified 
                                as one of London Stock Exchange Group’s Companies to 
                                Inspire Africa 2019. The report is a celebration of Africa’s 
                                and most dynamic growth businesses.">
    </app-two-section-card>
</div>