.section-layout {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section {
    height: 80px;
    
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    color: #000;
    font-family: var(--font-family-reqular);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

nav:hover {
    color: var(--color1);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.contact-button {
    border: none;
    width: 100px;
    padding: 7px;
    border-radius: 8px;
}

.contact-button:hover {
    border: 0.7px solid var(--color3);
}

/* .contact {
    width: 2rem;
    padding: 0.5rem;
    background-color: var(--color4);
} */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}