.section-layout {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.section {
    height: 80px;
    
}

nav {
    color: #000;
    font-family: var(--font-family-reqular);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

nav:hover {
    color: var(--color1);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* .contact {
    width: 2rem;
    padding: 0.5rem;
    background-color: var(--color4);
} */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}