<div class="section-layout" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" >
    <div class="section" fxFlex="87%" fxLayout="row " fxLayoutAlign="space-between center"> 
        <div class="logo">
            <div class="image">
                <img loading="lazy" width="180px" src="/assets/images/logo.png" alt="">
            </div>
        </div>
        <div class="menu" fxLayout="row" fxLayoutGap="1.3rem" fxHsow fxHide.sm fxHide.xs>
            <nav>Home</nav>
            <nav>About Us</nav>
            <nav>Companies</nav>
            <nav>Careers</nav>
            <nav>CSR</nav>
            <nav>Awards</nav>
            <nav>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </span>
            </nav>
        </div>
    </div>
</div>