<div
  class="section-layout"
  fxLayout="row"
  fxFlex="100%"
  fxLayoutAlign="center center"
>
  <div class="section item" fxLayout="row wrap" fxLayoutAlign="start start"  fxFlex="100%" fxLayoutGap="5%">
    <div class="image-section" fxFlex="47%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start start" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start">
        <div class="image">
            <img src={{image}} alt="team member image">
        </div>
    </div>

    <div class="detail-section" fxLayout="column" fxFlex="47%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div class="title" fxLayout="row" fxLayout.lt-sm="row wrap">
            {{name}} &nbsp;
            <div class="pipe"></div>
           {{role}}
        </div>

        <div class="position">
            {{position}}
        </div>
        <div class="detail mt-2">
        <p>
            {{about}}
        </p>

        </div>
    </div>

  </div>


</div>




