<div class="section-layout">
    <div class="section">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indicator" aria-current="true" aria-label="Slide 1"></button>
              <button class="indicator" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button class="indicator" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button class="indicator" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button class="indicator" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>

            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="13000" fxLayout="column">
                <div class="image">
                    <img loading="lazy" src="/assets/images/bg/bg4.png" width="100%" class="d-block w-100" alt="...">
                </div>

                <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
                    <div class="content" fxLayout="column" fxLayoutAlign="center center">
                        <div class="title">Wide Range of logistics services</div>
                        <div class="detail"><span class="company">Afriglobal logistics</span> offer a comprehensive range of logistics services, 
                            including ocean and air freight, trucking and haulage, warehousing, 
                            and distribution.</div>
                        <div class="action-button"><a href="http://www.afriglobal-logistics.com/" target="_blank">View Site</a></div>
                    </div>
                </div>

              </div>
              
              <div class="carousel-item" data-bs-interval="10000">
                <div  fxLayout="column">
                    <div class="image">
                        <img loading="lazy" src="/assets/images/bg/bg2.png" class="d-block w-100" alt="...">
                    </div>
    
                    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
                        <div class="content" fxLayout="column" fxLayoutAlign="center center">
                            <div class="title">B2B Chemicals and Alied Service</div>
                            <div class="detail"> <span class="company">Nagode Industries</span> import a wide range of chemicals from around the world, and we 
                                                store them in our secure warehouses.We then deliver the chemicals 
                                                to businesses of all sizes.</div>
                            <div class="action-button"><a href="https://www.nagode.com/" target="_blank">View Site</a></div>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div fxLayout="column">
                    <div class="image">
                        <img loading="lazy" src="/assets/images/bg/bg3.png" class="d-block w-100" alt="...">
                    </div>
                    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
                        <div class="content" fxLayout="column" fxLayoutAlign="center center">
                            <div class="title">Africa-focused trading and distribution</div>
                            <div class="detail"><span class="company">Afriglobal Commodities</span> has a strong track record of success in the African market. 
                                                We have built long-term relationships with our suppliers and
                                                 customers.</div>
                            <div class="action-button"><a href="" target="_blank"><a href="https://afriglobalonline.com/" target="_blank">View Site</a></a></div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div fxLayout="column">
                    <div class="image">
                        <img loading="lazy" src="/assets/images/bg/bg5.png" class="d-block w-100" alt="...">
                    </div>
    
                    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
                        <div class="content" fxLayout="column" fxLayoutAlign="center center">
                            <div class="title">A patient centered medical diagnostic facility</div>
                            <div class="detail"><span class="company">Afriglobal Medicare</span> is committed to providing high-quality care in a compassionate and 
                                                patient-centered environment. Going above and beyond to make sure 
                                                that patients feel comfortable.</div>
                            <div class="action-button"><a href="http://www.afriglobalmedicare.com/" target="_blank">View Site</a></div>
                        </div>
                    </div>
                </div>
                
              </div>

              <div class="carousel-item" data-bs-interval="10000">
                <div fxLayout="column">
                    <div class="image">
                        <img loading="lazy" src="/assets/images/bg/bg6.png" class="d-block w-100" alt="...">
                    </div>
    
                    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
                        <div class="content" fxLayout="column" fxLayoutAlign="center center">
                            <div class="title">Equipment, reagents, and consumables</div>
                            <div class="detail"> <span class="company">Advance Medisystems</span> are committed to providing its customers with the best 
                                            possible tools for their work. sourcing the highest-quality 
                                            products from reputable manufacturers.</div>
                            <div class="action-button"><a href="http://www.advancemedisystems.com/" target="_blank">View Site</a></div>
                        </div>
                    </div>
                </div>

              </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>