<div
  class="section-layout"
  fxLayout="row"
  fxFlex="100%"
  fxLayoutAlign="center center"
>
  <div *ngIf="inverse && !others" class="section " fxLayout="row-reverse wrap" fxFlex="100%" fxLayoutGap="10%" fxLayoutGap.xs="0%">
    <div class="image-section" fxLayout="row" fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%" >
      <div class="image">
        <img loading="lazy" src={{image}} alt="" />
      </div>
    </div>
    <div class="detail-section" fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%">
        <div class="title">{{title}}</div>
      <div class="detail mt-2" fxLayoutAlign="start start">
        <p>
            {{detail}}
        </p>
      </div>
      <div class="button" *ngIf="button">Learn More</div>
    </div>
  </div>

  <div *ngIf="!inverse && !others" class="section" fxLayout="row wrap" fxFlex="100%" fxLayoutGap="10%" fxLayoutGap.xs="0%" >
    <div class="image-section" fxLayout="row" fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%" >
      <div class="image ">
        <img loading="lazy" src={{image}} alt="" />
      </div>
    </div>
    <div class="detail-section" fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%">
        <div class="title">{{title}}</div>
      <div class="detail mt-2" fxLayoutAlign="start start">
        <p>
            {{detail}}
        </p>
      </div>
      <div class="button" *ngIf="button">Learn More</div>
    </div>
  </div>


  <div *ngIf="others && !inverse" class="section" fxLayout="row wrap" fxFlex="100%" fxLayoutGap="10%" fxLayoutGap.xs="0%" >
    <div class="image-section" fxLayout="row" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" >
      
      <div class="image" *ngIf="!logo">
        <img loading="lazy" src={{image}} alt="" />
      </div>

      <div class="logo" *ngIf="logo">
        <img loading="lazy" src={{image}} alt="" />
      </div>

    </div>
    <div class="detail-section" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div class="title">{{title}}</div>
      <div class="detail mt-2" fxLayoutAlign="start start">
        <p>
            {{detail}}
        </p>
      </div>
      <div class="button" *ngIf="button">Learn More</div>
    </div>
  </div>



</div>
