<div class="section-layout" fxShow fxHide.sm fxHide.xs fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">

    <div class="next" (click)="next()">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
        </span>
    </div>
    <div fxLayout="column"  fxLayoutAlign="center center" *ngFor="let row of render">
        <div class="section" fxLayout="column" fxLayoutAlign="center center">
            <div class="logo">
                <img src={{row.logo}} alt="">
            </div>
    
            <div class="title">{{row.companyName}}</div>
    
            <div class="detail">
                {{row.detail}}
            </div>
    
            <div class="button" (click)="route('companies')"><a>Learn More</a></div>
        </div>
    </div>

   
</div>


<div class="section-layout" fxHide fxShow.sm fxShow.xs fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5rem">

    <div fxLayout="row" fxLayoutGap="1rem">
        <div class="next" (click)="mobileNext()" >
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
            </span>
    
        </div>

        <div class="next" (click)="mobilePrev()" >
    
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </span>
    
        </div>
    </div>
    
    <div fxLayout="column"  fxLayoutAlign="center center" >
        <div class="section" fxLayout="column" fxLayoutAlign="center center">
            <div class="logo">
                <img loading="lazy" src={{mobileRender.logo}} alt="">
            </div>
    
            <div class="title">{{mobileRender.companyName}}</div>
    
            <div class="detail">
                {{mobileRender.detail}}
            </div>
    
            <div class="button" (click)="route('companies')"><a>Learn More</a></div>
        </div>
    </div>

   
</div>





